name: gzip
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Compress file
      run: 
          cat htsrc.txt | gzip > htsrc.gz
          cat epg.txt | gzip > epg.gz

    - name: Configure Git
      run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

    - name: Commit changes
      run: |
          git add htsrc.gz epg.gz
          git commit -m "Convert htsrc.txt to htsrc.gz format" || echo "No changes to commit"
          git push

